<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Microsoft.SharePoint.MigrationTool.MigrationLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <clear/>
    <add key="MaxConcurrentTasks" value="5" />
    <add key="MaxFileSizeInByte" value="16106127360" />
    <add key="DebugLevel" value="3" />
    <add key="KeepMetaFile" value="1" />
    <add key="IncrementalEnabled"  value="1" />
    <add key="MaxUploadingThreadsCount" value="50" />
    <add key="ForceReplaceInvalidCharacters" value="0" />
    <add key="ListMigrationsEnabled" value="1" />
    <add key="ValidationEnabled" value="1" />
    <add key="ADALAuthenticationEnabled" value="1" />
    <add key="SPOEnvironmentType" value="0" />
    <add key="ADFSEnabled" value="0" />
    <add key="SupportedSPVersions" value="15" />
  </appSettings>
</configuration>